@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  p,
  h1 {
    @apply font-poppins;
  }
  .mobile-container {
    @apply mx-6;
  }
  .mobile-price {
    @apply text-3xl font-bold;
  }
  .mobile-heading-b {
    @apply text-lg font-bold;
  }
  .mobile-heading {
    @apply text-lg;
  }
  .mobile-title-b {
    @apply text-base font-bold;
  }
  .mobile-title {
    @apply text-base;
  }
  .mobile-subtitle-b {
    @apply text-sm font-bold;
  }
  .mobile-subtitle {
    @apply text-sm;
  }
}
#filter {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(0deg, #000000 0%, #00000030 80%);
}
#redLine1,
#redLine {
  width: calc(100% - 110px);
  top: 50%;
  transform: translateY(-50%);
}
#redLine1 {
  width: calc(100% - 130px);
}
